@{
    Layout = null;   // 🚀 This disables the layout for this view
}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root>Loading...</app-root>

    <!-- ✅ Angular runtime bundles -->
    <link rel="stylesheet" href="browser/styles.css">
    <script src="~/browser/polyfills.js" type="module"></script>
    <script src="~/browser/main.js" type="module"></script>
    <!-- <script src="~/browser/styles.css" type="module"></script>-->
</body>
</html>
